
body {
  background: var(--bg);
  padding-left: 20px;
  font-family: "Courier new";
}
#sheet {
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  color: var(--fg);
}
*[contenteditable="true"] {
  border-bottom: 1px dashed #999;
  display: inline;}
svg {
  overflow: visible;
}
details {
  cursor: pointer;
  position: relative;
}
summary {
  text-decoration: underline;
  padding-left: 20px;
}
details > * {
  display: flex;
  align-items: center;
  margin: 8px 0;
  color: var(--fg);
}
details[open] {
  border: 1px solid #CCCA;
  display: flex;
  width: fit-content;
  padding: 20px 20px 0 20px;
  margin-top: 20px;
  border-radius: 10px;
}
details[open] summary {
  color: var(--fg);
  text-align: right;
  position: absolute;
  top: 0;
  right: 20px;
}
.tile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  position: relative;
}
body:not([data-edit="true"]) .tile > svg {
  pointer-events: none;
}
#fetishes {
  width: 20px;
}
#move-buttons {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--bg);
  opacity: 0.9;
  border-raadius: 4px;
  border: 1px solid var(--fg);
}
.tile:first-child .move-up, .tile:last-child .move-down {
 visibility: hidden;
 pointer-events: none;
}
.move-down, .move-up, .remove {
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  color: var(--fg);
}
.move-down:hover, .move-up:hover {
  color: lightblue;
}
.remove:hover {
  color: red;
}
body[data-edit="false"] #move-buttons {
  display: none;
}
h1, h2, h3 {
    font-size: 30px;
}
h1, h2, h3, h4 {
  display: inline;
}
h3 {
  margin: 0;
  font-size: 20px;
}
footer {
  margin-left: 20px;
}
text:first-of-type {
  text-decoration: underline;
}
text {
  font-size: var(--text-size);
  text-transform: capitalize;
}
text[data-custom-case="true"] {
  text-transform: unset;
}
.measure {
  text-transform: lowercase;
}
text, h1, h2, h3, h4, footer, #author, summary {
  fill: var(--fg);
  color: var(--fg);
  font-weight: normal;
}
h4, a, details, summary {
  display: inline;
  color: #737373;
}

.tile {
  display: 'flex';
  max-width: auto;
  width: var(--tile-width);
  margin-right: 10px;
}
#fill-top {
  stroke: var(--fg);
  fill: var(--kink-color);
  fill-opacity: 0.9;
}
#fill {
  fill: var(--kink-color);
  fill-opacity: 0.7;
  stroke-width: 0;
  }
.bubbles, .bubbles2 {
  display: none;
}
.tile[data-hot="true"] .bubbles, .tile[data-hot="very"] .bubbles, .tile[data-hot="very"] .bubbles2 {
  display: block;
  fill: var(--fg);
  opacity: 0.5;
}
.tile[data-hot="true"] #fill, .tile[data-hot="true"] #fill-top, 
.tile[data-hot="very"] #fill, .tile[data-hot="very"] #fill-top {
  filter: saturate(1.9) brightness(1.2);
}
.tile[data-hot="warm"] #fill, .tile[data-hot="warm"] #fill-top {
  filter: saturate(1.7) brightness(1.1);
}
.tile[data-hot="cold"] #fill, .tile[data-hot="cold"] #fill-top {
  filter: saturate(0.8) brightness(0.8);
}
#fill-top {
  stroke-width: 1.7;
}
#outline {
  stroke: var(--fg) !important;
     fill:none;stroke:#000000;stroke-opacity:1;
}